@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  --primary-color: #fdba74;
  --secondary-color: #9a3412;
  --button-color: white;
}
body {
  display: block;
  margin: auto;
  background-color: var(--primary-color);
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

nav {
  padding: 1rem;
  background-color: var(--secondary-color);
}

main {
  margin-top: 1rem;
}

.basic-font-style {
  margin: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}

input {
  background-color: transparent;
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  border: 2px solid var(--secondary-color);
  width: 30%;
  min-width: 250px;
}

input:focus {
  outline: none;
}

button {
  background-color: var(--secondary-color);
  color: var(--button-color);
  display: inline-block;
  margin: 1rem auto;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  outline: var(--button-color);
}

table {
  width: 50%;
  min-width: 250px;
  border-collapse: collapse;
  margin: auto;
}

th,
td {
  padding: 0.5rem;
  width: 2rem;
  border: 2px solid var(--secondary-color);
  font-size: 1.1rem;
}

th {
  width: 5rem;
}

.none {
  display: none;
}
